*.xccheckout
*.xcworkspace
*.DS_Store
xcuserdata/
Pods/
test-reports/
.idea
Build/
Snapshots/Artifacts/

# Bundler generated
vendor/
.bundle/

Gemfile.lock
Podfile.lock

# Fastlane generated
fastlane/report.xml
fastlane/test_output/
reports/

compile_commands.json
.bundle/config

# Swift Package Manager generated
/.swiftpm
/.build
/Packages
